<center>
<h1>Your Closest Electric Fuel Station:</h1>
</center>
<br>
<hr>
<br>
<table>
  <tr>
    <th>Station Name</th>
    <th>Address</th>
    <th>Fuel Type</th>
    <th>Hours</th>
  </tr>
  <tr>
    <td><%= @station.name %></td>
    <td><%= @station.address %></td>
    <td><%= @station.fuel_type %></td>
    <td><%= @station.access_times %></td>
  </tr>
</table>
<br>
<hr>
<br>
<p><strong>The distance to this station is:</strong> <%= @route.distance %> miles</p>
<p><strong>The travel time to this station is:</strong> <%= @route.travel_time %> minutes</p>
<br>
<br>
<h2>Directions to this fuel station:</h2>
<p><strong><%= @route.directions %></strong></p>
